$inputWidth1: 225px;

#classify_box {
    margin-top: 30px;
    .iconfont {
        margin-right: 3px;
    }
    .ant-layout-content {
        .ant-row {
            &:first-child {
                .ant-cascader-picker {
                    width: $inputWidth1;
                }
            }
            &:nth-child(2) {
                .ant-cascader-picker {
                    width: 170px;
                }
            }
            &:nth-child(3){
                .ant-calendar-picker {
                    width: $inputWidth1;
                }
            }
            padding: 10px 0;
            .ant-col-2 {
                &>span {
                    line-height: 32px;
                }
            }
            .ant-col-22 {
                &>div {
                    line-height: 32px;
                }
            }
        }
    }
}
.ant-cascader-menu {
    height: 250px;
}