$inputWidth1: 225px;
$inputHeight1: 28px;

#classify_box {
    width: 100%;
    height: 216px;
    .iconfont {
        margin-right: 3px;
    }
    .ant-layout-content {
        .ant-row {
            &:nth-child(1) {
                .ant-cascader-picker {
                    width: $inputWidth1;
                }
            }
            &:nth-child(2) {
                .ant-calendar-picker {
                    width: $inputWidth1;
                }
            }
            &:nth-child(3){
                .ant-cascader-picker {
                    width: $inputWidth1;
                }
            }
            padding: 5px 0;
            .ant-col-4 {
                &>span {
                    line-height: $inputHeight1;
                }
            }
            .ant-col-20 {
                &>div {
                    line-height: $inputHeight1;
                }
            }
        }
    }
}
.ant-cascader-menu {
    height: 250px;
}