//variable
$index_color1: #1890ff;


body,
html {
  background: url('~images/body_bg1.png') repeat;
}

.dd_bg {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  @include border-radius(10px);
  @include box-shadow(0 1px 2px 1px rgba(0,0,0,.03));
}
%dd_bg {
  background: #fff;
  border: 1px solid #ddd;
  padding: 0 15px;
  @include border-radius(10px);
  @include box-shadow(0 1px 2px 1px rgba(0,0,0,.03));
}
%cont {
  width: 1200px;
  margin: 0 auto;
}
.line-overflow {
  @include line-overflow();
}

.index_footer {
  background: #fff;
  border-top: 1px solid #eee;
  margin-top: 50px;
}

.imgAuto {
  display: block;
  width: 100%;
  height: auto;
}
%imgAuto {
  display: block;
  width: 100%;
  height: auto;
}

%title1 {
  font-weight: bold;
  font-size: $fontSize-18;
  @include line-overflow();
}
%title2 {
  padding-bottom: 6px;
  font-weight: bold;
  font-size: $fontSize-15;
  @include line-overflow();
}
.domHidden {
  display: none;
}
.domShow {
  display: inline-block;
}