$sizeColor1: #f4f4f4;
$navHeight: 75px;
$subNavHeight: 30px;

#headerNav_box {
    .headerNav_box1 {
        color: #fff;
        background-image: linear-gradient(90deg,#222325,#3b3c3f,#222325);
        .headerNav_cont1 {
            height: 40px;
            line-height: 40px;
            img {
                height: 26px;
                vertical-align: top;
                margin-top: 7px;
            }
            span {
                color: $sizeColor1;
                margin-left: 2px;
                font-size: $fontSize_12;
            }
            .textRight {
                color: #fff;
                font-size: $fontSize_12;
            }
        }
    }
    .headerNav_box2 {
        height: $navHeight;
        line-height: $navHeight;
        background: #fff;
        @include box-shadow(0 2px 5px 1px rgba(0,0,0,.05));
        .headerNav_cont2 {
            .headerNav_info1 {
                .ant-menu-horizontal {
                    border: 0;
                    height: ($navHeight - 15px);
                    line-height: ($navHeight - 15px);
                    padding-top: 7px;
                    .ant-menu-item,.ant-menu-submenu {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

.ant-menu-submenu {
    .ant-menu-item {
        height: $subNavHeight;
        line-height: $subNavHeight;
        margin-bottom: 4px!important;
        &:hover {
            color: #1890ff;
            background-color: #e6f7ff;
            @include transition(all 100ms);
        }
    }
    .anticon-down {
        margin-left: 1px;
        font-size: 10px;
    }
}