$imgHeight: 110px;

#newsList_box {
    padding-bottom: 25px;
    @extend %dd_bg;
    .ant-list-item {
        // margin-bottom: 20px;
        // @extend %dd_bg;
        .ant-list-item-content {
            margin-bottom: 0;
            padding: 15px 0;
        }
        .newsList_info1 {
            height: $imgHeight;
            overflow: hidden;
            @include border-radius(5px);
            &>img {
                display: block;
                width: 100%;
                min-height: $imgHeight;
            }
        }
        .newsList_info2 {
            text-align: justify;
            padding-left: 20px;
            strong {
                display: block;
                color: $size-color1;
                margin-bottom: 10px;
                font-size: $fontSize-16;
            }
            p {
                height: 42px;
                color: $size-color2;
                line-height: 1.5;
                margin-bottom: 10px;
                font-size: $fontSize-14;
                @include multiLine-overflow(2);
            }
            .newsList_info3 {
                color: $size-color3;
                &>span {
                    margin-right: 15px;
                    i {
                        display: inline-block;
                        vertical-align: middle;
                        margin: -3px 5px 0 0;
                    }
                }
            }
        }
    }
}