// variable storage
$defaultColor: #333;

$sizeColor: #333;
$bgColor: #333;
$bgImg: url('~images/body_bg1.png') repeat;
// $btnImg1: url('~img/btn_bg1.jpg') repeat;
$pcFont: 'microsoft yahei", "\5FAE\8F6F\96C5\9ED1';
$mobileFont: 'Helvetica Neue', Helvetica, STHeiTi, Microsoft YaHei, sans-serif, Microsoft JhengHei, Arial;
$browser: null;

$size-color1: #323232;
$size-color2: #646464;
$size-color3: #969696;
$border-color1: #333;

$fontSize_12: 12px;
$fontSize_13: 13px;
$fontSize_14: 14px;
$fontSize_15: 15px;
$fontSize_16: 16px;
$fontSize_16: 16px;
$fontSize_18: 18px;
$fontSize_20: 20px;
$fontSize_22: 22px;
$fontSize_24: 24px;
$fontSize_26: 26px;
$fontSize_28: 28px;
$fontSize_30: 30px;
/****/
$d_color1: #23beff;
$d_color2: #1890ff;